@page "/wypozyczenia";
@rendermode InteractiveServer
@using DriveIt.Model;
@using DriveIt.Services;
@inject RentalService RentalService 


<h1>Wypożyczenia</h1>
<RentalsComponent IsEmployee="true" RentalFunc="AcceptRentalAsync" Rentals="Rentals"/>

@code {
    List<Rental> Rentals = [];

    protected override async Task OnInitializedAsync()
    {
        await LoadRentalsAsync();
    }

    private async Task LoadRentalsAsync()
    {
        Rentals = await RentalService.GetRentalsAsync();         
	}

    private async Task AcceptRentalAsync(Rental rental)
	{
		bool status = await RentalService.AcceptRentalAsync(rental);        
        if(status)
        {
            await LoadRentalsAsync();
        }
        else
        {
            // TODO: Show error message
        }
	}
}
